# You can specify custom share directory path here:
# SHARE_PATH=/mnt/c/Users/JohnDoe/web-share

DOMAIN=web-share.localhost

# Uncomment next line if you are using publicly accessible domain name,
# since by default `staging-resolver` is used that is defined in `traefik-quick-start`
# configuration: https://github.com/lexuzieel/traefik-quick-start/blob/master/traefik.yml#L191

# CERT_RESOLVER=production-resolver
